<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY ndash "&#8211;"> 
    <!ENTITY nbsp "&#0160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>

	<ui:composition template="templates/default.xhtml">
		<ui:define name="title">API</ui:define>
		<ui:define name="content">

			<!-- https://s3.eu-central-1.amazonaws.com/rocker-web-interface/rocker-logo.png -->


			<div id="content" class="container demo-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2">

						<h1>Key Discovery API</h1>
						
						<table class="table table-bordered" id="findKey">
							<tbody>
								<tr>
									<td colspan="2">Endpoint: <pre>http://rocker.aksw.org/findKey</pre></td>
								</tr>
								<tr>
									<td colspan="2">Launch a key discovery task.</td>
								</tr>
								<tr>
									<th>Parameter</th>
									<th>Values</th>
								</tr>
								<tr>
									<td>dataset</td>
									<td>Dataset name (e.g. <code>DBpedia 3.9</code>) or URI (e.g. <code>http://rocker.aksw.org/datasets/monument.nt</code>).</td>
								</tr>
								<tr>
									<td>cname</td>
									<td>Class URI, e.g. <code>http://dbpedia.org/ontology/Monument</code>.</td>
								</tr>
								<tr>
									<td>alpha</td>
									<td>Discriminability threshold. Expected continuous value in [0,1], usually around <code>0.95</code>.</td>
								</tr>
								<tr>
									<td colspan="2">
										Example answer:<br/>
										<pre>{
  "@type": "http:\/\/rocker.aksw.org\/ontology#KeyDiscoveryActivity",
  "http:\/\/rocker.aksw.org\/ontology#hasAlmostKeys": [
    {
      "http:\/\/rocker.aksw.org\/ontology#score": 1.0,
      "http:\/\/www.w3.org\/2004\/02\/skos\/core#member": [
        "http:\/\/www.okkam.org\/ontology_restaurant1.owl#has_address"
      ],
      "http:\/\/rocker.aksw.org\/ontology#hasIssues": []
    },
    {
      "http:\/\/rocker.aksw.org\/ontology#score": 1.0,
      "http:\/\/www.w3.org\/2004\/02\/skos\/core#member": [
        "http:\/\/www.okkam.org\/ontology_restaurant1.owl#name"
      ],
      "http:\/\/rocker.aksw.org\/ontology#hasIssues": []
    },
    {
      "http:\/\/rocker.aksw.org\/ontology#score": 0.9911504424778761,
      "http:\/\/www.w3.org\/2004\/02\/skos\/core#member": [
        "http:\/\/www.okkam.org\/ontology_restaurant1.owl#phone_number"
      ],
      "http:\/\/rocker.aksw.org\/ontology#hasIssues": [
        {
          "http:\/\/www.w3.org\/2004\/02\/skos\/core#member": [
            {
              "http:\/\/rocker.aksw.org\/ontology#source": "http:\/\/www.okkam.org\/oaie\/restaurant1-Restaurant89",
              "http:\/\/rocker.aksw.org\/ontology#target": "http:\/\/www.okkam.org\/oaie\/restaurant1-Restaurant90"
            }
          ]
        }
      ]
    }
  ],
  "http:\/\/rocker.aksw.org\/ontology#hasClass": "http:\/\/www.okkam.org\/ontology_restaurant1.owl#Restaurant",
  "http:\/\/rocker.aksw.org\/ontology#hasDataset": "http:\/\/rocker.aksw.org\/datasets\/restaurant1.nt",
  "http:\/\/rocker.aksw.org\/ontology#alpha": 0.99,
  "@id": "http:\/\/rocker.aksw.org\/ontology#rockerRun000001",
}</pre>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>

		</ui:define>
	</ui:composition>

</h:body>

</html>