<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY ndash "&#8211;"> 
    <!ENTITY nbsp "&#0160;"> 
    <!ENTITY alpha "&#0945;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:body>
 
    	<ui:composition template="templates/default.xhtml">
    		<ui:define name="title">Demo</ui:define>
    	
     		<ui:define name="content">
     		
			<div id="content" class="container demo-container">
			    <div id="alerts"></div>
			      <div class="row">
			        <div class="col-md-8 col-md-offset-2">
				<form action="view.xhtml" method="GET" id="demo-form">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">ROCKER Demo</h3>
					  </div>
					  <div class="panel-body">
			
					    <div class="input-group demo-block">
					      <div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Select Dataset <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
						  <li><a href="javascript:void(0);" onclick="select_dataset('OAEI2010 Restaurant1');">OAEI2010 Restaurant1</a></li>
						  <li><a href="javascript:void(0);" onclick="select_dataset('OAEI2010 Persons1.1');">OAEI2010 Persons1.1</a></li>
						  <li><a href="javascript:void(0);" onclick="select_dataset('DBpedia 3.9');">DBpedia 3.9</a></li>
						</ul>
					      </div><!-- /btn-group -->
					      <input type="text" class="form-control" id="sel-dataset" readonly="readonly" name="dataset"/>
					    </div><!-- /input-group -->
			
					    <div class="input-group demo-block" id="class-selection">
					      <div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Select Class <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
						  <li id="oaei10-restaurant1" class="classes"><a href="javascript:void(0);" onclick="select_class('http://www.okkam.org/ontology_restaurant1.owl#Restaurant');">http://www.okkam.org/ontology_restaurant1.owl#Restaurant</a></li>
						  <li id="oaei10-persons11" class="classes"><a href="javascript:void(0);" onclick="select_class('http://www.okkam.org/ontology_person1.owl#Person');">http://www.okkam.org/ontology_person1.owl#Person</a></li>
						  <li id="dbp39-monument" class="classes"><a href="javascript:void(0);" onclick="select_class('http://dbpedia.org/ontology/Monument');">http://dbpedia.org/ontology/Monument</a></li>
						</ul>
					      </div><!-- /btn-group -->
					      <input type="text" class="form-control" id="sel-class" readonly="readonly" name="cname"/>
					    </div><!-- /input-group -->
			
					    <div class="input-group demo-block" id="thr-selection">
					      <span class="input-group-addon">Threshold &alpha;</span>
					      <input type="text" class="form-control" id="sel-threshold" value="0.99" readonly="readonly" name="alpha"/>
					      <div class="input-group-btn">
						<input type="text" id="thr-slider" value="" data-slider-min="0.9" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.99" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide"/>
					      </div><!-- /btn-group -->
					    </div><!-- /input-group -->
			
					    <div class="demo-block" id="go-selection">
						<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
						<button type="button" class="btn btn-primary btn-lg btn-block" onclick="discover_keys();">Discover Keys</button>
					    </div><!-- /input-group -->
						
					  </div>
					</div>
				</form>
				</div>
	        </div>
	      </div>

<script>
$( document ).ready(function() {
	cname = $("#cname").val();
	alpha = $("#alpha").val();
	//get_keys(cname, alpha);
	$("#class-selection").hide();
	$("#thr-selection").hide();
	$("#go-selection").hide();
});

$("#thr-slider").on('slide', function(ev){
	$("#sel-threshold").val(ev.value);
});

</script>
    			
    		</ui:define>
       	</ui:composition>
 
    </h:body>
 
</html>