<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY ndash "&#8211;"> 
    <!ENTITY nbsp "&#0160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:body>
 
    	<ui:composition template="templates/default.xhtml">
    		<ui:define name="title">Overview</ui:define>
     		<ui:define name="content">
     		
				<!-- Main jumbotron for a primary marketing message or call to action -->
				<div class="jumbotron">
					<div class="container" id="heading">
						<h2 class="centered-text lato-bold">Enhancing Dataset Quality using Keys</h2>
						<h4 class="centered-text lato-bold">Featuring ROCKER &ndash; A Refinement Operator for Key Discovery</h4>
						<div class="centered-text">
							<div id="buttons" class="btn-group">
								<a class="btn btn-primary btn-lg lato-bold" role="button"
									href="demo.xhtml"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;View Demo</a>
								<a class="btn btn-primary btn-lg lato-bold" role="button"
									target="_blank" href="http://svn.aksw.org/papers/2015/WWW_Rocker/public.pdf"><span
									class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Read Paper</a>
								<a class="btn btn-primary btn-lg lato-bold" role="button"
									target="_blank" href="https://github.com/AKSW/rocker/releases"><span
									class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download ROCKER</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- https://s3.eu-central-1.amazonaws.com/rocker-web-interface/rocker-logo.png -->
				
				<div id="content" class="container">
				    <div id="alerts"></div>
				      <div class="row">
				        <div class="col-md-4">
				          <h3><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Find all minimal keys.</h3>
				          <p><img src="https://s3.eu-central-1.amazonaws.com/rocker-web-interface/rocker-logo.png" width="20" border="0"/> ROCKER is a state-of-the-art tool for discovering keys on a Linked Dataset. Based on a refinement operator approach, it can find all almost-keys within a threshold and scales to potentially the whole Web of Data.</p>
				        </div>
				        <div class="col-md-4">
				          <h3><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Discover corrupted data.</h3>
				          <p>Beyond their important role for Link Discovery, keys can help discover errors in data, such as duplicate entities, missing values or wrong values.</p>
				        </div>
				        <div class="col-md-4">
				          <h3><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Visualize and compare resources.</h3>
				          <p>This web interface allows to visualize resources which may contain errors in their concise bounded description, in order to enhance the dataset quality.</p>
				        </div>
				      </div>
				</div>
    			
    		</ui:define>
       	</ui:composition>
 
    </h:body>
 
</html>