<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY mdash "&#8212;"> 
    <!ENTITY ndash "&#8211;"> 
    <!ENTITY nbsp "&#0160;"> 
    <!ENTITY alpha "&#0945;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:body>
 
    	<ui:composition template="templates/default.xhtml">
     		<ui:define name="title">Keys and issues</ui:define>
     		<ui:define name="content">
     		

				<script type="text/javascript" src="js/vis.js"></script>
				<link href="css/vis.css" rel="stylesheet" type="text/css" />
				<style type="text/css">
				    #issue-graph {
						width: 100%;
						height: 600px;
						border: 1px solid lightgray;
				    }
				/*
				    p {
				      max-width:600px;
				    }
				*/
				</style>
				
				<script type="text/javascript" src="js/rocker-script.js"></script>
				
				<div id="content" class="container demo-container">
				    <div id="alerts"></div>
				      <div class="row">
				 
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Keys found for <span id="cname"></span> (&alpha;=<span id="alpha"></span>)</h3>
						    <h5>Note: URIs might not be dereferenceable for synthetic datasets.</h5>
						  </div>
						  <div class="panel-body">
							<table class="table table-striped">
							<thead><tr><th>#</th><th>composite key properties</th><th>key size</th><th title="discriminability score">score</th><th></th></tr></thead>
							<tbody id="key-table"> 
							</tbody>
							</table>
						  </div>
						</div>
				
						<div class="panel panel-default" id="view-resources">
						  <div class="panel-heading">
						    <h3 class="panel-title">Resources with issues &mdash; Key #<span id="key-id">1</span></h3>
						  </div>
						  <div class="panel-body">
							<table class="table table-striped">
							<thead><tr><th>#</th><th>resource URI</th><th></th></tr></thead>
							<tbody id="resource-list">
							</tbody>
							</table>
						  </div>
						</div>
				
						<div class="panel panel-default" id="graph-panel">
						  <div class="panel-heading">
						    <h3 class="panel-title">Visualizing issue #<span id="iss-id"></span></h3>
						  </div>
						  <div class="panel-body">
							  <div id="issue-graph"></div>
						  </div>
						</div>
				
				      </div>
				      <div class="row">
				      	<div class="col-md-12" id="export-div"></div>
				      </div>
				
				</div>
				
    			
    		</ui:define>
       	</ui:composition>
 
    </h:body>
 
</html>