<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY ndash "&#8211;"> 
    <!ENTITY nbsp "&#0160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:body>
 
    	<ui:composition template="templates/default.xhtml">
    		<ui:define name="title">Vocabulary</ui:define>
     		<ui:define name="content">
     		
				<!-- https://s3.eu-central-1.amazonaws.com/rocker-web-interface/rocker-logo.png -->
				
				<div id="content" class="container demo-container">
					
					<div class="row">
						<div class="col-md-12">
							<p class="text-center"><img src="images/rocker-ontology.png" alt="ROCKER Ontology" class="img-rounded"></img></p>
						</div>
						<div class="col-md-8 col-md-offset-2">
							<a class="btn btn-primary btn-lg btn-block lato-bold" role="button"
										target="_blank" href="ontology" download="rocker-ontology.rdf"><span
										class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download the ROCKER Ontology for Key Discovery</a>
						</div>
					</div>
					<hr/>
				
					<div class="panel panel-default" id="KeyDiscoveryActivity">
					  <div class="panel-heading">
					    <h3 class="panel-title">Key discovery activity</h3>
					  </div>
					  <div class="panel-body">A key discovery activity, i.e. a single run of the ROCKER algorithm.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#KeyDiscoveryActivity">http://rocker.aksw.org/ontology#KeyDiscoveryActivity</a>
					    </td></tr><tr><th>type</th><td>Class
					    </td></tr><tr><th>subclass of</th><td><a href="http://www.w3.org/ns/prov#Activity" target="_blank">http://www.w3.org/ns/prov#Activity</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="CandidateKey">
					  <div class="panel-heading">
					    <h3 class="panel-title">Candidate key</h3>
					  </div>
					  <div class="panel-body">A set of properties. Every set is a candidate key for a <code>owl:Class</code>.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#CandidateKey">http://rocker.aksw.org/ontology#CandidateKey</a>
					    </td></tr><tr><th>type</th><td>Class
					    </td></tr><tr><th>subclass of</th><td><a href="http://www.w3.org/ns/prov#Entity" target="_blank">http://www.w3.org/ns/prov#Entity</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="AlmostKey">
					  <div class="panel-heading">
					    <h3 class="panel-title">Almost-key</h3>
					  </div>
					  <div class="panel-body">A set of properties whose discriminability score on a given <code>owl:Class</code> is above the given threshold.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#AlmostKey">http://rocker.aksw.org/ontology#AlmostKey</a>
					    </td></tr><tr><th>type</th><td>Class
					    </td></tr><tr><th>subclass of</th><td><a href="http://www.w3.org/ns/prov#Entity" target="_blank">http://www.w3.org/ns/prov#Entity</a>
					    </td></tr><tr><th>subclass of</th><td><a href="http://rocker.aksw.org/ontology#CandidateKey">http://rocker.aksw.org/ontology#CandidateKey</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="Key">
					  <div class="panel-heading">
					    <h3 class="panel-title">Key</h3>
					  </div>
					  <div class="panel-body">A set of properties whose discriminability score on a given <code>owl:Class</code> is 1.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#Key" target="_blank">http://rocker.aksw.org/ontology#Key</a>
					    </td></tr><tr><th>type</th><td>Class
					    </td></tr><tr><th>subclass of</th><td><a href="http://www.w3.org/ns/prov#Entity" target="_blank">http://www.w3.org/ns/prov#Entity</a>
					    </td></tr><tr><th>subclass of</th><td><a href="http://rocker.aksw.org/ontology#CandidateKey">http://rocker.aksw.org/ontology#CandidateKey</a>
					    </td></tr><tr><th>subclass of</th><td><a href="http://rocker.aksw.org/ontology#AlmostKey">http://rocker.aksw.org/ontology#AlmostKey</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="Issue">
					  <div class="panel-heading">
					    <h3 class="panel-title">Issue</h3>
					  </div>
					  <div class="panel-body">A pair of resources which share all object values for all properties in an <code>AlmostKey</code>.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#Issue" target="_blank">http://rocker.aksw.org/ontology#Issue</a>
					    </td></tr><tr><th>type</th><td>Class
					    </td></tr><tr><th>subclass of</th><td><a href="http://www.w3.org/ns/prov#Entity" target="_blank">http://www.w3.org/ns/prov#Entity</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="AlmostKeyCollection">
					  <div class="panel-heading">
					    <h3 class="panel-title">Almost-key collection</h3>
					  </div>
					  <div class="panel-body">A collection of <code>AlmostKey</code>s.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#AlmostKeyCollection">http://rocker.aksw.org/ontology#AlmostKeyCollection</a>
					    </td></tr><tr><th>type</th><td>Class
					    </td></tr><tr><th>subclass of</th><td><a href="http://www.w3.org/2004/02/skos/core#Collection" target="_blank">http://www.w3.org/2004/02/skos/core#Collection</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="IssueCollection">
					  <div class="panel-heading">
					    <h3 class="panel-title">Issue collection</h3>
					  </div>
					  <div class="panel-body">A collection of <code>Issue</code>s.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#IssueCollection">http://rocker.aksw.org/ontology#IssueCollection</a>
					    </td></tr><tr><th>type</th><td>Class
					    </td></tr><tr><th>subclass of</th><td><a href="http://www.w3.org/2004/02/skos/core#Collection" target="_blank">http://www.w3.org/2004/02/skos/core#Collection</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="hasAlmostKeys">
					  <div class="panel-heading">
					    <h3 class="panel-title">has almost-keys</h3>
					  </div>
					  <div class="panel-body">Connects a key discovery activity with its collection of <code>AlmostKey</code>s.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#hasAlmostKeys" target="_blank">http://rocker.aksw.org/ontology#hasAlmostKeys</a>
					    </td></tr><tr><th>type</th><td>Property
					    </td></tr><tr><th>subproperty of</th><td><a href="http://www.w3.org/ns/prov#generated" target="_blank">http://www.w3.org/ns/prov#generated</a>
					    </td></tr><tr><th>domain</th><td><a href="http://rocker.aksw.org/ontology#KeyDiscoveryActivity">http://rocker.aksw.org/ontology#KeyDiscoveryActivity</a>
					    </td></tr><tr><th>range</th><td><a href="http://rocker.aksw.org/ontology#AlmostKeyCollection">http://rocker.aksw.org/ontology#AlmostKeyCollection</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="hasIssues">
					  <div class="panel-heading">
					    <h3 class="panel-title">has issues</h3>
					  </div>
					  <div class="panel-body">Connects an almost-key with its collection of <code>Issue</code>s.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#hasIssues" target="_blank">http://rocker.aksw.org/ontology#hasIssues</a>
					    </td></tr><tr><th>type</th><td>Property
					    </td></tr><tr><th>subproperty of</th><td><a href="http://www.w3.org/ns/prov#hadDerivation" target="_blank">http://www.w3.org/ns/prov#hadDerivation</a>
					    </td></tr><tr><th>domain</th><td><a href="http://rocker.aksw.org/ontology#AlmostKey">http://rocker.aksw.org/ontology#AlmostKey</a>
					    </td></tr><tr><th>range</th><td><a href="http://rocker.aksw.org/ontology#IssueCollection">http://rocker.aksw.org/ontology#IssueCollection</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="hasClass">
					  <div class="panel-heading">
					    <h3 class="panel-title">has class</h3>
					  </div>
					  <div class="panel-body">Connects a key discovery activity with the <code>owl:Class</code> upon which it is performed.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#hasClass" target="_blank">http://rocker.aksw.org/ontology#hasClass</a>
					    </td></tr><tr><th>type</th><td>Property
					    </td></tr><tr><th>subproperty of</th><td><a href="http://www.w3.org/ns/prov#used" target="_blank">http://www.w3.org/ns/prov#used</a>
					    </td></tr><tr><th>domain</th><td><a href="http://rocker.aksw.org/ontology#KeyDiscoveryActivity">http://rocker.aksw.org/ontology#KeyDiscoveryActivity</a>
					    </td></tr><tr><th>range</th><td><a href="http://www.w3.org/2002/07/owl#Class">http://www.w3.org/2002/07/owl#Class</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="hasDataset">
					  <div class="panel-heading">
					    <h3 class="panel-title">has dataset</h3>
					  </div>
					  <div class="panel-body">Connects a key discovery activity with the dataset where it is performed.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#hasDataset" target="_blank">http://rocker.aksw.org/ontology#hasDataset</a>
					    </td></tr><tr><th>type</th><td>Property
					    </td></tr><tr><th>subproperty of</th><td><a href="http://www.w3.org/ns/prov#used" target="_blank">http://www.w3.org/ns/prov#used</a>
					    </td></tr><tr><th>domain</th><td><a href="http://rocker.aksw.org/ontology#KeyDiscoveryActivity">http://rocker.aksw.org/ontology#KeyDiscoveryActivity</a>
					    </td></tr><tr><th>range</th><td><a href="http://rdfs.org/ns/void#Dataset">http://rdfs.org/ns/void#Dataset</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="source">
					  <div class="panel-heading">
					    <h3 class="panel-title">has source</h3>
					  </div>
					  <div class="panel-body">The source (i.e., first component) of an <code>Issue</code>.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#source" target="_blank">http://rocker.aksw.org/ontology#source</a>
					    </td></tr><tr><th>type</th><td>Property
					    </td></tr><tr><th>domain</th><td><a href="http://rocker.aksw.org/ontology#Issue">http://rocker.aksw.org/ontology#Issue</a>
					    </td></tr><tr><th>range</th><td><a href="http://www.w3.org/2001/XMLSchema#anyURI">http://www.w3.org/2001/XMLSchema#anyURI</a>
					  </td></tr></tbody></table>
					</div>
					
					<div class="panel panel-default" id="target">
					  <div class="panel-heading">
					    <h3 class="panel-title">has target</h3>
					  </div>
					  <div class="panel-body">The target (i.e., second component) of an <code>Issue</code>.</div>
					  <table class="table">
					    <tbody><tr><th>URI</th><td><a href="http://rocker.aksw.org/ontology#target" target="_blank">http://rocker.aksw.org/ontology#target</a>
					    </td></tr><tr><th>type</th><td>Property
					    </td></tr><tr><th>domain</th><td><a href="http://rocker.aksw.org/ontology#Issue">http://rocker.aksw.org/ontology#Issue</a>
					    </td></tr><tr><th>range</th><td><a href="http://www.w3.org/2001/XMLSchema#anyURI">http://www.w3.org/2001/XMLSchema#anyURI</a>
					  </td></tr></tbody></table>
					</div>
					
				</div>
    			
    		</ui:define>
       	</ui:composition>
 
    </h:body>
 
</html>