<!DOCTYPE html [
    <!ENTITY ndash "&#8211;"> 
    <!ENTITY nbsp "&#0160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
	<title>Enhancing Data Quality using ROCKER &ndash; <ui:insert name="title">Default title</ui:insert></title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css"/>
	<link href="css/slider.css" rel="stylesheet" media="screen"/>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link href="css/loader-style.css" rel="stylesheet" media="screen"/>
	<link href="css/style.css" rel="stylesheet" media="screen"/>
	<link rel="icon" type="image/png" href="https://s3.eu-central-1.amazonaws.com/rocker-web-interface/rocker-logo.png" />
	
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/bootstrap-slider.js"></script>
	<script src="js/script.js"></script>
	<script src="js/jquery-loader.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-64727067-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
</head>
<body>

<div id="header">
    <ui:insert name="header">
    	<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
    	<ui:include src="header.xhtml"/>
    </ui:insert>
</div>


<div id="facet_content">
  <ui:insert name="content">
    	Content area.  See comments below this line in the source.
    	<!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
	  	<!-- <div> -->
    	<!-- <ui:include src="content.xhtml"/> -->  
    	<!-- </div> -->
  </ui:insert>
</div>

<div id="footer">
  <ui:insert name="footer">
    	<!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
		<ui:include src="footer.xhtml"/>
  </ui:insert>
</div>

</body>

</html>
