<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
	    <ui:composition>
 	
 	<div class="container">
      <hr/>
      <footer>
        <p class="lato">Updated 2015-06-30 - Developed and maintained by <a href="http://aksw.org">AKSW</a>, University of Leipzig.</p>
      </footer>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	</div>
	    </ui:composition>
    </body>
</html>