    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./"><img src="https://s3.eu-central-1.amazonaws.com/rocker-web-interface/rocker-logo.png" width="20" border="0"/></a>
        </div>
        <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li><a class="align-text" href="./">Overview</a></li>
	        <li><a class="align-text" href="demo.xhtml">Demo</a></li>
	        <li><a class="align-text" href="vocab.xhtml">Vocabulary</a></li>
	        <li><a class="align-text" href="api.xhtml">API</a></li>
	        <li><a class="align-text" target="_blank" href="https://github.com/AKSW/rocker/releases">Download</a></li>
	        <li><a class="align-text" target="_blank" href="http://aksw.org/Projects/Rocker.html">About</a></li>
	      </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

